@import "../../assets/styles/themes/themes.scss";

.header {
  @include themify($themes) {
    background-color: themed("backgroundColor");
  }

  & a,
  & span {
    @include themify($themes) {
      color: themed("textColor") !important;
    }
  }

  .dropdown-menu {
    @include themify($themes) {
      background-color: themed("backgroundColor");
    }
  }
}
